*{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    padding: 0;
}
.around{
    position: absolute;
    background-color: red;
   
}
.hover .none{
    color: white;
    background-color: black;
    padding: 0.5em clamp(0.5em,1em,10%);
    margin-bottom: 0.2em;
    text-align: center;
    display: none;
    border-radius: 5px;
}
.hover:hover .none{
    display: block;
}

.bar{
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
}
.gray{
    color: gray;
}
.container{
    display: grid;
    min-height: 100vh;
    width: 100vw;
    padding: 7em 0;
    box-sizing: border-box;
    background-color:  hsl(27, 66%, 92%);
}
.box{
    /* background-color: red; */
    justify-self: center;
    width:clamp(306px,50%,100%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
}
.box .box1{
   background-color: hsl(10, 79%, 65%);
   flex: 1.5;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2em;
   color: white;
}
.box1 .account-box{
    line-height: 2em;
}
.account-box .balance{
   font-size: 2em;
}
.account-box .my-balance{
    font-size: 20px;
}
.box .box2{
    background-color:   hsl(33, 100%, 98%);
    flex: 7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 1.7em;
}
.box2 .child1{
    /* background-color: blue; */
    flex: 1.5;
    display: flex;
     box-sizing: border-box;
    align-items: center;
}
.child1 .spending{
    font-size: 1.6rem;
}
.box2 .child2{
    /* background-color: palevioletred; */
    flex: 3;
    display: flex;
    align-items: flex-end;
    gap: 4%;
    box-sizing: border-box;
    padding-bottom: 1.2em;
    border-bottom: rgba(128, 128, 128, 0.141) solid 3px;
}
.child2 div{
    flex: 1;
}
.box2 .child3{
    /* background-color: darkcyan; */
    flex: 1.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.child3 .expenses-box{
   line-height: 2em;
}
.child3 .roundup-box{
    margin-top: 2em;
    line-height: 1.3em;
}
.expenses-box .spending{
    font-size: 2rem;
}
@media(max-width:702px){
    .box{
        width: 100%;
    }
    .container{
        padding:  7em 1em;
    }
}